<mat-form-field appearance="fill" class="w-full">
  <mat-label>{{ placeholder }}</mat-label>
  <input matInput [type]="type" [formControl]="control">
  <button *ngIf="icon" mat-icon-button matSuffix type="button">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
  <mat-error *ngIf="control && control.invalid && control.touched">
    <span *ngIf="control.hasError('required')">Este campo es requerido</span>
    <span *ngIf="control.hasError('email')">Email inválido</span>
    <span *ngIf="control.hasError('minlength')">Mínimo 6 caracteres</span>
  </mat-error>
</mat-form-field>