form {
  width: 100%;
}

::ng-deep {

  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-mdc-text-field-wrapper {
    background-color: #f9fafb !important;
    border-radius: 12px !important;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }

  .mat-mdc-form-field-infix {
    padding: 16px 0 !important;
  }
}